@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
    word-wrap: break-word;
    word-break: break-all;
}

header,
.head {
    text-align: center;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
}
.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}
.content{
    display: inline-block;
    margin: 30px 2% 0 2%;
}
.column{
    font-size: 16px;
    line-height: 20px;
    width: 46%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}
.column:nth-child(even) { 
  border-left: 1px solid #2f2f2f;
}
.double-columns {
    columns: 2;
    text-align: justify;
}
.column h3 {
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.column span{
    font-weight: 700;
    font-size: 14px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.column span:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.column span:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
blockquote {
    font-style: italic;
}
img {
    width: 100%;
}
figcaption{
	font-style: italic;
	font-size: 12px;
}
.column .head+p::first-letter {
    font-size: 36px;
    font-weight: bold
}
#big:checked~.body>.content>.colums>.column {
    font-size: 36px;
    line-height: 40px
}
#normal:checked~.body>.content>.colums>.column {
    font-size: 16px;
    line-height: 20px;
}
#small:checked~.body>.content>.colums>.column {
    font-size: 10px;
    line-height: 10px;
}
#source:checked~.body>.content>.colums>.column {
    font-family: 'Source Code Pro', monospace;
}
#playfair:checked~.body>.content>.colums>.column {
    font-family: 'Playfair Display', serif;
}
#black:checked~.body {
    color: #2f2f2f;
}
#white:checked~.body {
    color: white;
    background-color: #2f2f2f;
}
#white:checked~.body .column span:before,
#white:checked~.body .column span:after {
    border-bottom: 1px solid white;
}
#white:checked~.body .subhead {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
#white:checked~.body .column:nth-child(even) { 
  border-left: 1px solid white;
}